body {
  background-color: rgba(237, 180, 47, 0.437);
}
p {
    font-size: xx-large; color: rgb(5, 63, 253);
}
h1{
  color: rgb(6, 42, 248);
}
img {
  height: 200px; width: 200px;
}
.flag {
  float: center;
}
